.need-font {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    height: 30px;
}

.del {
    text-decoration: line-through;
}

.only-up {
    text-transform: uppercase;
    text-align: center;
}

.wave-shadow {
    word-spacing: 30px;
    text-decoration: overline wavy;
    text-shadow: 1px 1px 1px rgb(218, 156, 166);
}

.let-space {
    letter-spacing: 5px;
    text-decoration: underline double;
}